/* Sidebar header: less padding */
.FolderItem-header, .DocumentItem-header, .BookmarkItem-header {
  padding: 2px 2px 2px 2px;
}

/* Icons in top right corner */
.DocumentTools {
  top: -55px;
  right: -5px;
}

/* Use plain text rendering (slightly bolder) */
html, body {
  -webkit-font-smoothing: auto;
}

/* Breadcrumbs: less padding & margin; smaller */
.DocumentContainer.is-centerDocument .DocumentBreadcrumb {
  padding: 5px 0 0 0;
  margin: 0;
  font-size: 14px;
}
.DocumentBreadcrumb-delimiter {
  margin: 0 1px;
}

/* Document title: further up the page; less padding */
.is-desktop .Document-rootNode {
  padding: 0px 0px;
  margin-top: -20px;
}

/* Item text: smaller, less line spacing, use Workflowy font */
.u-use-pref-font,
.is-smallFont .Node-bullet,
.is-smallFont .Node-contentContainer {
  font-family: 'Helvetica Neue', Arial, Sans-serif;
  font-size: 15px;
  color: #333;
}
.is-smallFont .node-line {
  line-height: 17px;
}
.is-smallFont .Node-self.is-parent + .Node-children {
  padding-top: 0px;
  padding-bottom: 2px;
}
.Node-outer {
  padding-top: 1px;
}

/* Make code snippets smaller */
span.node-inline-code {
  font-size: 80% !important;
  line-height: 15px !important;
}

/* Hide zoom icon for each item */
.node-line.node-icon.mod-expand-collapse {
  display: none !important;
}

/* Hide zoom icon on mobile view */
.is-mobile .node-hover {
  display: none !important;
}
.is-mobile .Node.is-currentRoot {
  padding: 0px 20px 0px 20px;
}

/* Reduce each nesting's indent */
.Node-children {
  margin-left: 10px;
  padding-left: 10px;
}

/* Bottom margin: smaller */
.Document-bottomSpace {
  min-height: 20px;
}
