/* For URLs on domain: focus.nirvanahq.com */

/* Time estimates and tags shouldn't wrap regardless of how long the task comment gets */
td.right .tags {
	white-space: nowrap; }

/* Make tags all-caps so they're easier to read */
.tag.context {
	text-transform: uppercase; }

/* Reverse the order of the actions list (newest at top) */
ul.tasks {
	transform: rotate(180deg); }
ul.tasks li.task {
	transform: rotate(-180deg);	}
