/* For URLs on the domain slashdot.org */

.trc_rbox_container {
	display: none !important;
}

iframe {
	display: none !important;
}

article[class*="sponsored"] {
	display: none !important;
}

aside {
	display: none !important;
}

#announcement {
	display: none !important;
}
